body {
    background: #0068b3; /* from */
    background: #f6130c; /* to */
    background: #4f948d; /* from */
    background: #50867a; /* to */
    background: #000000;
    background: #c20d07;
    background: #0a8de8;
}